amqp==1.4.9
anyjson==0.3.3
asn1crypto==0.24.0
billiard==3.3.0.23
celery==3.1.26.post2
cryptography==3.2
Django==1.9.1
django-celery==3.3.1
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
kombu==3.0.37
pycrypto==2.6.1
pygobject==3.26.1
pytz==2019.3
pyxdg==0.25
redis==2.10.6
SecretStorage==2.3.1
six==1.11.0
